# Existing settings ...
# DRM pilot: keep disabled until PallyCon packaging and license endpoints are configured.
DRM_ENABLED=false
DRM_PROVIDER=pallycon
DRM_MANIFEST_BASE_URL=
DRM_WIDEVINE_LICENSE_URL=
DRM_FAIRPLAY_LICENSE_URL=
DRM_FAIRPLAY_CERTIFICATE_URL=
DRM_PLAYREADY_LICENSE_URL=
